body {
  width: 320px;
}
.popup-btn{
  margin: 0 auto;
  border-radius: 4px;
  color: #fff;
  border: 0 none;
  padding: 0 20px;
  height: 32px;
  line-height: 32px;
  background-color: #2E67DF;
}
.config-wrap label{
  display: block;
  height: 28px;
  line-height: 28px;
}
.config-wrap input[type=text]{
  box-sizing: border-box;
  width: 100%;
  line-height: 28px;
  border: 1px solid #ccc;
}
.config-wrap input[type=radio]{
  display: inline-block;
}
.config-wrap textarea{
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #ccc;
}
.tab {
  width: 100%;
  overflow: hidden;
}
.tab span {
  float: left;
  width: 50%;
  box-sizing: border-box;
  text-align: center;
  background-color: #91b4f2;
  cursor: pointer;
  height: 32px;
  line-height: 32px;
  color: #fff;
  font-size: 14px;
  border: 1px solid #2E67DF;
  border-bottom: 0 none;
}
.tab span:nth-of-type(1) {
  border-right: 0 none;
}
.tab span.cur {
  background-color: #fff;
  color: #333;
}